<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='/css/teacher-courses-list.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>Курсы преподавателя</title>
</head>
<body>
<a href="/logout" class="back-arrow">
  <i class="fas fa-arrow-left"></i> Выйти
</a>
<header class="header">
    <h1 class="title">Мои курсы</h1>
</header>

<main class="container">
  {% if not courses %}
  <div class="no-courses">
    <p>У вас пока нет курсов.</p>
  </div>
  {% else %}
  <div class="courses-grid">
    {% for course in courses %}
    <a href="/teacher/courses/{{ course.id }}/lessons" class="course-card">
      <div class="course-image-wrapper">
        <img src="{{ course.image }}" alt="Изображение курса" class="course-image">
      </div>
      <h2 class="course-title">{{ course.title }}</h2>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</main>
</body>
</html>